.heading-type-1 {
    color: #435761;
    font-size: 24px;
}

.direction-type-1 {
    font-size: 14px;
}

.full-width {
    width: 100%;
    text-align: left;
}

.search-section-container {
    height: 49px;
}