.resultContainer {
    width: 100vw;
}

.chart-area-container {
    width: 100vw;
    height: 25vh;
}

.chart-area-left {
    float: left;
    width: 50%;
    height: 100%;
}

.chart-area-right {
    float: left;
    width: 50%;
    height: 100%;
}